# Web Framework
Flask==2.3.3
gunicorn==21.2.0

# Computer Vision
# PyTorch (CUDA 11.8)
torch==2.3.1+cu118
torchvision==0.18.1+cu118
torchaudio==2.3.1+cu118

--extra-index-url https://download.pytorch.org/whl/cu118

onnxruntime-gpu==1.16.3

insightface==0.7.3

numpy==1.23.5 
scipy==1.10.1

opencv-python==4.10.0.84 
opencv-python-headless==4.10.0.84

# Utilities
Pillow==10.0.1

